<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Traffic Volume Analysis</title>
</head>
<body>
    <h1>Traffic Volume Analysis</h1>
    <h2>Average Traffic Volume by Hour</h2>
    <img src="{{ url_for('static', filename='plots/avg_traffic_by_hour.png') }}" alt="Average Traffic Volume by Hour">
</body>
</html>